name: Snyk Container Scan

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  snyk-container-scan:
    runs-on: ubuntu-latest

    steps:
      # Paso 1: Checkout del c칩digo
      - name: Checkout code
        uses: actions/checkout@v3

      # Paso 2: Instalar Docker (si no est치 instalado)
      - name: Set up Docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io

      # Paso 3: Verificar instalaci칩n de Docker
      - name: Verify Docker installation
        run: docker --version

      # Paso 4: Construir la imagen de Docker
      - name: Build Docker Image
        run: docker build -t my-container-image:latest .

      # Paso 5: Instalar Snyk CLI
      - name: Install Snyk CLI
        run: curl -sL https://snyk.io/install | bash

      # Paso 6: Verificar instalaci칩n de Snyk
      - name: Verify Snyk installation
        run: snyk --version

      # Paso 7: Escanear la imagen del contenedor con Snyk
      - name: Snyk Container Scan
        run: snyk container test my-container-image:latest --severity-threshold=high
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
